.ProfileEdit {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.ProfileEdit form {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
}
